*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: #F5F8FF;
}
.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    color: #000000;
}
.pera{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 30px;
}
.menu{
    display: flex;
    gap: 48px;
}
.menu a{
    list-style-type: none;
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.menu img{
    height: 15px;
    color: black;
}

/* hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    /* margin: 0 150px; */
    margin-bottom: 120px;
}
.hero-section h1{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    color: #E95A08;
    margin-bottom: 13px;
    
}
.hero-section h1 span{
    color: #000000;
}
.hero-text p{
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
.img{
    width: 100%;
    height: auto;
}

/* our plants section desing */
.plant{
    text-align: center;
    margin-bottom: 49px;
}
.plant h3 span{
    color: #E95A08;
}
.plant p{
    max-width: 888px;
    /* margin: 0 auto; */
}
/* card section design */
.cards{
    margin-bottom: 210px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}
.card{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card h6{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    text-align: center;
}
.card P{
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    text-align: center;
}
.card button{
    font-weight: 600;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 19px 80px;
    width: 270px;
    height: 50px;
}
/* flower plants section desing */

.flower-section{
    gap: 60px;
    margin-bottom: 133px;
}
.right-item{
    padding: 38px;
}
.li-gap{
    margin-top: 20px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -127px;
    right: -127px;
    background-color: transparent;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
.img-container{
    position: relative;
}
/* responsive styles */
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    .menu a {
        display: none;
    }

    .menu span {
        display: block;
    }
/* hero section resposive */
    .hero-section {
        flex-direction: column-reverse;
        margin: 0;
    }

    .hero-text {
        text-align: left;
        margin: 0 16px;
    }

    .hero-section img {
        width: 100%;
        height: object-fit;
        object-fit: contain;
        margin-bottom: 30px;
    }
    
    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section p {
        font-size: 14px;
    }

    /* card section responsive */
    .plant{
        margin-top: 65px;
        width: 393px;
        height: 117px;
        align-items: center;
    }
    .plant h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .plant p{
        font-size: 14px;
        font-weight: 400;
        width: 336px;
        height: 68px;
        margin: 0 28px;
        text-align: center;
    }
    .card{
        max-width: 171px;
        /* height: 340px; */
    }
    .card h6{
        font-weight: 500;
    }
    .card p{
        font-weight: 700;
    }
    .card button{
        width: 171px;
        height: 50px;
        padding: 19px 30px;
        font-weight: 600;
        align-items: center;
    }
    .cards{
        max-width: 361px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
        row-gap: 28px;
        margin-bottom: 41px;
    }
    /* flower and plant section  */
    .flower-section{
        flex-direction: column;
        gap: 18px;
    }
    .store{
        width: 362px;
        margin: 0 17px;
    }
    .badge{
        display: none;
    }
    .right-item h3{
        font-size: 24px;
        margin: 0;
    }
    .right-item ul li{
        font-size: 14px;
    }
    .li-gap{
        margin-top: 16px;
    }
    br{
        display: none;
    }
}
